* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: dimgray;
}

.divide {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  max-width: 1000px;
  width: 0;
  height: 1px;
  background-color: rgba(100, 148, 237, 0.5);
}

.divide.footer {
  margin-top: 30px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 148, 237, 0.75); 
  border-radius: 10px; 
  border: 2px solid white;
}

::-webkit-scrollbar-track {
  background-color: rgb(240, 245, 255); 
}


/* ---------- MEDIA QUERIES ---------- */

@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) {

 }

@media all and (max-width: 1000px){
    .divide {
      margin: 30px;
    }

    .divide.footer {
      margin: 20px;
    }
 }